@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 1.4rem;
    /* font-family: "Roboto", sans-serif */
    font-family: "Poppins", sans-serif;
}

body {
    height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Nunito", sans-serif;
}

p {
    font-family: "Merriweather", serif;
}

button {
    width: 6.5rem;
    height: 1.8rem;
    background-color: rgb(0, 0, 255);
    color: #fff;
    border-style: none;
    border-radius: 5px;
    font-size: 0.7rem;
    font-weight: 500;
    cursor: pointer;

    &:hover {
        background-color: rgb(12, 12, 219);

    }
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    border-bottom: 1px solid black;
    box-shadow: 1px 1px 2px black;

    img {
        width: 50px;
        height: 50px;

    }

    & ul {
        display: flex;
        gap: 3rem;

        li {
            list-style: none;

            a {
                text-decoration: none;
                color: black;
                text-transform: uppercase;
                font-size: 0.8rem;
            }
        }
    }
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 50px;
    margin: 40px 50px;

    & .grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-content: center;
        align-items: center;

        & .texts {
            padding: 10px;
            display: grid;
            justify-content: end;
            align-items: end;

            h1 {
                color: rgb(0, 0, 255);
            }

            & .icons {
                font-size: 2rem;
                display: flex;
                margin-top: 20px;
                gap: 20px;


            }
        }

        & .image {
            display: flex;
            justify-content: center;
            align-items: center;


            & img {
                width: 300px;
                height: 300px;
            }
        }
    }
}


.custom-shape-divider-bottom-1716558623 {
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1716558623 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
}

.custom-shape-divider-bottom-1716558623 .shape-fill {
    fill: rgb(0, 0, 255);

}


@media (width <=1220px) {
    html {
        font-size: 1rem;
    }


}

@media (width <=768px) {
    .navbar {
        display: flex;
        flex-direction: column;
        gap: 10px;

        img {
            width: 40px;
            height: 40px;
        }

        ul {
            gap: 45px;
        }
    }

    .container .grid{
        grid-template-columns: 1fr;
        gap: 30px;

        & .texts{
            order: 1;
            font-size: 1rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center; 
            
            h1{
                font-size: 1.2rem;
            }
        }
        
    }
}